$primary-color: #1e4894;
$secondary-color: #666;
$background-color: #f3f3f3; //dam hon
$background-color2: #f6f6f6;
$background-color3: rgba(143, 142, 142, 0.296);
$text-color-primary: #1e1e1ec0;
$text-color-secondary: #666;
$text-color-muted: #999;
$chair-color-normal: #5FC493;
$chair-color-vip: #EDBB57;
$chair-color-pair: #E44557;
$promo-color-apply: #5FC493;




