$font-family-sans:"Arial", -apple-system, BlinkMacSystemFont, "SF Pro Display", "Roboto",
  "Helvetica Neue", "Inter";

$font-weight-regular: 100;
$font-weight-medium: 200;
$font-weight-semibold: 400;
$font-weight-bold: 600;

$font-size-xs: 0.6rem;
$font-size-sm: 0.75rem;
$font-size-base: 0.875rem;
$font-size-md: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;
