@use "@styles/utils" as *;

.button {
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: $border-radius-med;
    cursor: pointer;
    font-weight: $font-weight-semibold;
    font-size: $font-size-base;

    &:hover,
    &:focus {
        background-color: darken($primary-color, 10%);
        outline: none;
    }
    &.disabled {
        background-color: #ddd;
        color: #aaa;
        cursor: not-allowed;
    }

    &.active {
        background-color: $primary-color;
        color: #fff;
    }
}
