@use "@styles/utils" as *;
.voucherCard {
  flex: 0 0 auto;
  min-width: 260px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  border: 1px solid #e0e0e0;
}

.applied {
  border-color: #16a34a;
}

.notApplied {
  border-color: #e0e0e0;
}

.VoucherHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: #111827;
  line-height: 1.2;
}

.toggleButton {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 4px 8px;
  color: #1e4894; /* màu chữ link giống nút Hủy bỏ */

  &:hover {
    text-decoration: underline;
  }
}

.body {
  font-size: 12px;
  color: #6b7280;
  margin-bottom: 8px;
}

.voucherCardFooter {
  font-size: 12px;
  color: #6b7280;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
